<div>
  <h2 id="page-heading" data-cy="OrderBuyerDetailsHeading">
    <span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.home.title">Order Buyer Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order-buyer-details"
        [routerLink]="['/order-buyer-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.home.createLabel"> Create a new Order Buyer Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orderBuyerDetails?.length === 0">
    <span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.home.notFound">No orderBuyerDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orderBuyerDetails && orderBuyerDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.name">Name</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.mobile">Mobile</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.alternateMobile">Alternate Mobile</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.email">Email</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.addressline1">Addressline 1</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.addressline2">Addressline 2</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.pincode">Pincode</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.city">City</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.state">State</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.country">Country</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.companyName">Company Name</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.isBillingSame">Is Billing Same</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.billAddressline1">Bill Addressline 1</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.billAddressline2">Bill Addressline 2</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.billPincode">Bill Pincode</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.billCity">Bill City</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.billState">Bill State</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.billCountry">Bill Country</span></th>
          <th scope="col"><span jhiTranslate="gojojoDeliveryApp.orderBuyerDetails.order">Order</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderBuyerDetails of orderBuyerDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/order-buyer-details', orderBuyerDetails.id, 'view']">{{ orderBuyerDetails.id }}</a>
          </td>
          <td>{{ orderBuyerDetails.name }}</td>
          <td>{{ orderBuyerDetails.mobile }}</td>
          <td>{{ orderBuyerDetails.alternateMobile }}</td>
          <td>{{ orderBuyerDetails.email }}</td>
          <td>{{ orderBuyerDetails.addressline1 }}</td>
          <td>{{ orderBuyerDetails.addressline2 }}</td>
          <td>{{ orderBuyerDetails.pincode }}</td>
          <td>{{ orderBuyerDetails.city }}</td>
          <td>{{ orderBuyerDetails.state }}</td>
          <td>{{ orderBuyerDetails.country }}</td>
          <td>{{ orderBuyerDetails.companyName }}</td>
          <td>{{ orderBuyerDetails.isBillingSame }}</td>
          <td>{{ orderBuyerDetails.billAddressline1 }}</td>
          <td>{{ orderBuyerDetails.billAddressline2 }}</td>
          <td>{{ orderBuyerDetails.billPincode }}</td>
          <td>{{ orderBuyerDetails.billCity }}</td>
          <td>{{ orderBuyerDetails.billState }}</td>
          <td>{{ orderBuyerDetails.billCountry }}</td>
          <td>
            <div *ngIf="orderBuyerDetails.order">
              <a [routerLink]="['/order', orderBuyerDetails.order?.id, 'view']">{{ orderBuyerDetails.order?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/order-buyer-details', orderBuyerDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/order-buyer-details', orderBuyerDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(orderBuyerDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
