<div>
  <h2 id="page-heading" data-cy="CourierCompanyHeading">
    <span jhiTranslate="gojojoDeliveryApp.courierCompany.home.title">Courier Companies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gojojoDeliveryApp.courierCompany.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-courier-company"
        [routerLink]="['/courier-company/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gojojoDeliveryApp.courierCompany.home.createLabel"> Create a new Courier Company </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courierCompanies?.length === 0">
    <span jhiTranslate="gojojoDeliveryApp.courierCompany.home.notFound">No courierCompanies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="courierCompanies && courierCompanies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mobile">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="alternateMobile">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.alternateMobile">Alternate Mobile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="addressline1">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.addressline1">Addressline 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="addressline2">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.addressline2">Addressline 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pincode">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.pincode">Pincode</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="city">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.city">City</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="state">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.state">State</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="country">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.country">Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image">
            <span jhiTranslate="gojojoDeliveryApp.courierCompany.image">Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courierCompany of courierCompanies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/courier-company', courierCompany.id, 'view']">{{ courierCompany.id }}</a>
          </td>
          <td>{{ courierCompany.name }}</td>
          <td>{{ courierCompany.mobile }}</td>
          <td>{{ courierCompany.alternateMobile }}</td>
          <td>{{ courierCompany.email }}</td>
          <td>{{ courierCompany.addressline1 }}</td>
          <td>{{ courierCompany.addressline2 }}</td>
          <td>{{ courierCompany.pincode }}</td>
          <td>{{ courierCompany.city }}</td>
          <td>{{ courierCompany.state }}</td>
          <td>{{ courierCompany.country }}</td>
          <td>{{ courierCompany.image }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/courier-company', courierCompany.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/courier-company', courierCompany.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(courierCompany)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="courierCompanies && courierCompanies.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
